{% load static %}
<section class="container sec4" id="blogs">
    <div class="blogs-content">
        <div class="main-title">
            <h2>My <span>Blogs</span><span class="bg-text">My Blogs</span></h2>
        </div>
        <div class="blogs">
            {% for blog in blogs %}
            <div class="blog" data-link="{{ blog.link }}">
                <img src="{{ blog.cover }}"  alt="">
                <div class="blog-text" >
                    <h4>
                        {{ blog.title }}
                    </h4>
                    <p>
                        {{ blog.brief | truncatewords:20 }}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>