{% load static %}
<section class="container sec3 portfolio" id="portfolio">
    <div class="main-title">
        <h2>My <span>Portfolio</span><span class="bg-text">My Work</span></h2>
    </div>
    <p class="port-text">
        Here is some of my work that I've done in various programming languages.
    </p>
    <div class="portfolios">
        <div class="portfolio-item">
            <div class="port-image">
                <img src="{% static 'img/port1.png' %}" alt="">
            </div>
            <div class="hover-items">
                <h3>Video2MP3<br /> Microservices</h3>
                <div class="icons">
                    <a href="#" class="icon">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="#" class="icon">
                        <i class="fas fa-link"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="portfolio-item">
            <div class="port-image">
                <img src="{% static 'img/port1.png' %}" alt="">
            </div>
            <div class="hover-items">
                <h3>Codepad</h3>
                <div class="icons">
                    <a href="#" class="icon">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="#" class="icon">
                        <i class="fas fa-link"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="portfolio-item">
            <div class="port-image">
                <img src="{% static 'img/port1.png' %}" alt="">
            </div>
            <div class="hover-items">
                <h3>TechTrek</h3>
                <div class="icons">
                    <a href="#" class="icon">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="#" class="icon">
                        <i class="fas fa-link"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="portfolio-item">
            <div class="port-image">
                <img src="{% static 'img/port1.png' %}" alt="">
            </div>
            <div class="hover-items">
                <h3>Social Book</h3>
                <div class="icons">
                    <a href="#" class="icon">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="#" class="icon">
                        <i class="fas fa-link"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="portfolio-item">
            <div class="port-image">
                <img src="{% static 'img/port1.png' %}" alt="">
            </div>
            <div class="hover-items">
                <h3>Quiz API</h3>
                <div class="icons">
                    <a href="#" class="icon">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="#" class="icon">
                        <i class="fas fa-link"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="portfolio-item">
            <div class="port-image">
                <img src="{% static 'img/port1.png' %}" alt="">
            </div>
            <div class="hover-items">
                <h3>Simple <br /> InMemory<br /> Filesystem</h3>
                <div class="icons">
                    <a href="#" class="icon">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="#" class="icon">
                        <i class="fas fa-link"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="portfolio-item">
            <div class="port-image">
                <img src="{% static 'img/port1.png' %}" alt="">
            </div>
            <div class="hover-items">
                <h3>Organs4Health</h3>
                <div class="icons">
                    <a href="#" class="icon">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="#" class="icon">
                        <i class="fas fa-link"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>