{% load static %}
<section class="container sec3 portfolio" id="portfolio">
    <div class="main-title">
        <h2>My <span>Portfolio</span><span class="bg-text">My Work</span></h2>
    </div>
    <p class="port-text">
        Here is some of my work that I've done in various programming languages.
    </p>
    <div class="portfolios">
        {% for project in projects %}
        <div class="portfolio-item">
            <div class="port-image">
                <img src="{{ project.image.url }}" alt="">
            </div>
            <div class="hover-items">
                <h3>{{ project.project_name }}</h3>
                <div class="icons">
                    <a href="{{ project.github }}" class="icon">
                        <i class="fab fa-github"></i>
                    </a>
                    {% if project.other_link %}
                    <a href="#" class="icon">
                        <i class="fas fa-link"></i>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>